{% load static %}
<!DOCTYPE html>
<html>
<head>
	<!-- Zorunlu meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, 
	initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel='stylesheet' href="{% static 'css/bootstrap.min.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
	<title>Haber Sitesi Uygulaması</title>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="{% url 'home' %}">Haber Sitesi</a>
			<button class="navbar-toggler" type="button" 
				data-bs-toggle="collapse" 
				data-bs-target="#navbarNavDarkDropdown" 
				aria-controls="navbarNavDarkDropdown" 
				aria-expanded="false" 
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
				<div class="collapse navbar-collapse d-lg-flex flex-lg-row-reverse" 
					id="navbarNavDarkDropdown" data-bs-auto-close="true">
				{% if user.is_authenticated %}
				<ul class="navbar-nav">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							{{ user.username }}
						</a>
						<ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
							<li><a class="dropdown-item" href="{% url 'password_change'%}">Parola Değiştir</a></li>
							<li><a class="dropdown-item" href="{% url 'logout' %}">Çıkış</a></li>
						</ul>
					</li>
				</ul>
				{% else %}

				<ul class="navbar-nav">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Kullanıcı İşlemleri
						</a>
						<ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
							<li><a class="dropdown-item" href="{% url 'signup' %}">Kaydol</a></li>
							<li><a class="dropdown-item" href="{% url 'login' %}">Giriş</a></li>
							<li><a class="dropdown-item" href="{% url 'password_reset' %}">Parola Sıfırla</a></li>
						</ul>
					</li>
				</ul>
				{% endif %}
			</div>
		</div>
  </nav>
	<div class="container">

		{% block content %}
		{% endblock content %}

	</div>
	<script src = "{% static 'js/jquery-min.js' %}"></script>
	<script src = "{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>



